---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0eHQtdG8tc2lnbi11cEBhbmFsb2ctY29kZXgtMTQxMDAzLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3YzL3Rva2VuIiwiZXhwIjoxNDcxNzk1NTQ3LCJpYXQiOjE0NzE3OTU0MjcsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSBodHRwczovL3NwcmVhZHNoZWV0cy5nb29nbGUuY29tL2ZlZWRzLyJ9.a7NNu_qqLXFPYYy3HmDIWqiyCKHE1xsfXvyHYugfOSeDR0vXq5CwzBLQlHEthNcIx285lkkSehS3iq6-D45j6agrtvOVaSpMvp6JBJxfshMqHOhgvc1palW84AFTTLa59Rw0kRucy4dcC7L5tNpQTdXIHnPLXUPkDszgqN3bFHIPtppLGQ0rXA_z0WLbKJ2czXlFWCYH5ObYUkg-9QunJZP5K5Yk2IezKtLLRpeE7NoPIHQvzgxwk4kCzmDQs-OIX5yvL3RTpEyoj6CKf8totEskwSjd5zanmA7tO3_FWlNiZW30zoC988tCsyOVRR836FL4CQP0GZWR6TY5ekCTlQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.CjBGA1zS6ASPY3V5Z-_2OtEXMsPqrRY1EeRTqC0Ync37vw7141-r0mVrJ1RBETLBtgo",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 21 Aug 2016 16:04:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ?fields=*
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjBGA1zS6ASPY3V5Z-_2OtEXMsPqrRY1EeRTqC0Ync37vw7141-r0mVrJ1RBETLBtgo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ",
         "name": "Thank You Emails",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "spaces": [
          "drive"
         ],
         "version": "104196",
         "webViewLink": "https://docs.google.com/spreadsheets/d/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/edit?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ&v=13&s=AMedNnoAAAAAV7ntPt3TZPKynqwIMGb6UpmGCowXp5ld&sz=s220",
         "viewedByMe": true,
         "viewedByMeTime": "2016-08-21T16:02:27.586Z",
         "createdTime": "2016-08-07T16:43:37.038Z",
         "modifiedTime": "2016-08-21T16:02:27.586Z",
         "modifiedByMeTime": "2016-08-21T16:02:27.586Z",
         "sharedWithMeTime": "2016-08-21T04:08:30.007Z",
         "sharingUser": {
          "kind": "drive#user",
          "displayName": "Woody Peterson",
          "photoLink": "https://lh6.googleusercontent.com/-eXg_shny23E/AAAAAAAAAAI/AAAAAAAAAPk/QD9ayYvTov4/s64/photo.jpg",
          "me": false,
          "permissionId": "16563561913407164380",
          "emailAddress": "woody.peterson@gmail.com"
         },
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Woody Peterson",
           "photoLink": "https://lh6.googleusercontent.com/-eXg_shny23E/AAAAAAAAAAI/AAAAAAAAAPk/QD9ayYvTov4/s64/photo.jpg",
           "me": false,
           "permissionId": "16563561913407164380",
           "emailAddress": "woody.peterson@gmail.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "txt-to-sign-up@analog-codex-141003.iam.gserviceaccount.com",
          "me": true,
          "permissionId": "05468521450159175836",
          "emailAddress": "txt-to-sign-up@analog-codex-141003.iam.gserviceaccount.com"
         },
         "shared": true,
         "ownedByMe": false,
         "capabilities": {
          "canEdit": true,
          "canComment": true,
          "canShare": true,
          "canCopy": true,
          "canReadRevisions": true
         },
         "viewersCanCopyContent": true,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "16563561913407164380",
           "type": "user",
           "emailAddress": "woody.peterson@gmail.com",
           "role": "owner",
           "displayName": "Woody Peterson",
           "photoLink": "https://lh6.googleusercontent.com/-eXg_shny23E/AAAAAAAAAAI/AAAAAAAAAPk/QD9ayYvTov4/s64/photo.jpg"
          },
          {
           "kind": "drive#permission",
           "id": "07960603592989146706",
           "type": "user",
           "emailAddress": "Morgan@lakeunioncrew.com",
           "role": "writer",
           "displayName": "Morgan Frost"
          },
          {
           "kind": "drive#permission",
           "id": "05468521450159175836",
           "type": "user",
           "emailAddress": "txt-to-sign-up@analog-codex-141003.iam.gserviceaccount.com",
           "role": "writer",
           "displayName": "txt-to-sign-up@analog-codex-141003.iam.gserviceaccount.com"
          },
          {
           "kind": "drive#permission",
           "id": "01389922943110388461i",
           "type": "user",
           "emailAddress": "frostm@seattleu.edu",
           "role": "writer"
          },
          {
           "kind": "drive#permission",
           "id": "anyone",
           "type": "anyone",
           "role": "reader",
           "allowFileDiscovery": true
          }
         ],
         "quotaBytesUsed": "0",
         "isAppAuthorized": false
        }
  recorded_at: Sun, 21 Aug 2016 16:04:47 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjBGA1zS6ASPY3V5Z-_2OtEXMsPqrRY1EeRTqC0Ync37vw7141-r0mVrJ1RBETLBtgo
      Gdata-Version:
      - '3.0'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"D0QARns8cSt7ImA9XRFSF0Q."
      Last-Modified:
      - Sun, 21 Aug 2016 16:02:27 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;D0QARns8cSt7ImA9XRFSF0Q.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/private/full</id><updated>2016-08-21T16:02:27.579Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Thank
        You Emails</title><link rel='alternate' type='application/atom+xml' href='https://docs.google.com/spreadsheets/d/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/private/full'/><author><name>woody.peterson</name><email>woody.peterson@gmail.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry
        gd:etag='&quot;ImB9XUxVTyt7&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu</id><updated>2016-08-21T16:02:27.579Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2016-08-21T16:02:27.579Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Responses</title><content
        type='application/atom+xml;type=feed' src='ht[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjBGA1zS6ASPY3V5Z-_2OtEXMsPqrRY1EeRTqC0Ync37vw7141-r0mVrJ1RBETLBtgo
      Gdata-Version:
      - '3.0'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
  [...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/private/full?max-col=3&max-row=3&min-col=1&min-row=3&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjBGA1zS6ASPY3V5Z-_2OtEXMsPqrRY1EeRTqC0Ync37vw7141-r0mVrJ1RBETLBtgo
      Gdata-Version:
      - '3.0'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:[...]
- request:
    method: post
    uri: https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/private/full/batch
    body:
      encoding: UTF-8
      string: |2
                      <feed xmlns="http://www.w3.org/2005/Atom"
                            xmlns:batch="http://schemas.google.com/gdata/batch"
                            xmlns:gs="http://schemas.google.com/spreadsheets/2006">
                        <id>https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/private/full</id>
                        <entry>
                          <batch:id>3,1</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/R3C1</id>
                          <link rel="edit" type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/private/full/R3C1"/>
                          <gs:cell row="3" col="1" inputValue="woody.peterson@gmail.com"/>
                        </entry>
                        <entry>
                          <batch:id>3,2</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1iEctU4H3IH3wcPo8g_aVfz4hHKhwzklZMir7TMk-6RQ/o89mhsu/R3C2</id>
                          <link rel="edit" type="application/atom+xml"
                            href="https://spreadsheets.google[...]
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACb42c4ba98685fe6b93698cff8c738e29/Messages.json
    body:
      encoding: US-ASCII
      string: To=12532085505&From=15005550006&Body=Thanks%21%21%21+%F0%9F%91%8D
    headers:
      Authorization:
      - Basic QUNiNDJjNGJhOTg2ODVmZTZiOTM2OThjZmY4YzczOGUyOTplMmRmZmVlMzNhYTQxNDFiMmNlYTM2MjY5NmE5OTc3ZQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.028'
      Twilio-Request-Id:
      - RQdcfe092564f44166980c0ea24e104d3a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMcb901a82fda8499c8d6fe4b6c8ed40d1", "date_created": "Sun,
        21 Aug 2016 16:04:48 +0000", "date_updated": "Sun, 21 Aug 2016 16:04:48 +0000",
        "date_sent": null, "account_sid": "ACb42c4ba98685fe6b93698cff8c738e29", "to":
        "+12532085505", "from": "15005550006", "messaging_service_sid": null, "body":
        "Thanks!!! \ud83d\udc4d", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACb42c4ba98685fe6b93698cff8c738e29/Messages/SMcb901a82fda8499c8d6fe4b6c8ed40d1.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACb42c4ba98685fe6b93698cff8c738e29/Messages/SMcb901a82fda8499c8d6fe4b6c8ed40d1/Media.json"}}'
  recorded_at: Sun, 21 Aug 2016 16:04:49 GMT
recorded_with: VCR 3.0.3
